
@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>

<label>Menu</label>
<form action="ABMCliente"><input type="submit" value="ABM Cliente"</form>
<form action="ListCliente"><input type="submit" value="Listado de clientes"</form>
<form action="Venta"><input type="submit" value="Venta"</form>