
@{
    ViewBag.Title = "Menu principal";
}

<h2>Menu</h2>

<div>
    @Html.ActionLink("Venta", "Index", "Venta", new { area = "" }, new { @class = "navbar-brand" })

    @Html.ActionLink("Lista ventas vendedor", "Index", "ABMCliente", new { area = "" }, new { @class = "navbar-brand" })

    @Html.ActionLink("Listado Cliente", "Index", "ListadoClientes", new { area = "" }, new { @class = "navbar-brand" })

    
    <br /><hr />
    <label>@ViewBag.resultado</label>
</div>
