
@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>

<label>Menu</label>
<div>
    @Html.ActionLink("ABM Cliente", "Index", "ABMCliente", new { area = "" }, new { @class = "navbar-brand" })
    <br />
    @Html.ActionLink("Listado Cliente", "Index", "ListadoClientes", new { area = "" }, new { @class = "navbar-brand" })
    <br />
    @Html.ActionLink("Venta", "Index", "Venta", new { area = "" }, new { @class = "navbar-brand" })
    <br />
</div>
