
@{
    ViewBag.Title = "Listado";
}

<h2>Listado de ventas</h2>
<form method="post">
    <label for="venta">Seleccione un edificio</label>
    <select name="venta" onchange="form.action = '~/ListadoVenta/MostrarVentas'; form.submit();">
        @*Ordenar la lista previamente a recorrerla.*@
        <option selected>Seleccione una venta</option>
        @foreach (var item in ViewBag.listado)
        {
            Session["compra"] = item;
            <option value="item.idCompra()">@item.mostrarCompra()</option>
        }
    </select>
</form>

    <p>@ViewBag.error</p>

    <div>@ViewBag.info</div>

    @Html.ActionLink("<- Atras", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
