
@{
    ViewBag.Title = "Listado";
}

<h2>Listado de ventas</h2>
<form method="post">

    <table name="tabla" class="table table-striped">
        @*Ordenar la lista previamente a recorrerla.*@
        <tr>
        <th>Datos apartamento</th>
        <th>Más información</th>
        </tr>
        @foreach (var item in ViewBag.listado)
        {
            Session["compra"] = item;
            <tr>
                <td value="item.idCompra()">@item.mostrarCompra()</td>
                <td> @item.ToString()</td>
            </tr>
        }
    </table>

    </form>

    <p>@ViewBag.error</p>


    @Html.ActionLink("<- Atras", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
