
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @*Ordenar la lista previamente a recorrerla.*@
    @foreach (var item in ViewBag.listado)
    {
        <li>@item.ToString()</li>
    }
</ul>
