
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<form>
    <table>
        <tr>
            <td><label for="user">Usuario:</label></td>
            <td><input type="text" name="user" /></td>
        </tr>
        <tr>
            <td><label for="pass">Password:</label></td>
            <td><input type="password" name="pass" /></td>
        </tr>
    </table>
</form>