
@{
    ViewBag.Title = "Alta";
}

<h2>Alta</h2>

<form method="post" action="~/ABMCliente/Alta">
    <table>
        <tr>
            <td><label for="nombre">Nombre: </label></td>
            <td><input type="text" name="nombre" required/></td>
        </tr>
        <tr>
            <td><label for="apellido">Apellido: </label></td>
            <td><input type="text" name="apellido" required/></td>
        </tr>
        <tr>
            <td><label for="documento">Documento: </label></td>
            <td><input type="number" name="documento" required/></td>
        </tr>
        <tr>
            <td><label for="direccion">Direccion: </label></td>
            <td><input type="text" name="direccion" required/></td>
        </tr>
        <tr>
            <td><label for="telefono">Telefono: </label></td>
            <td><input type="number" name="telefono" required/></td>
        </tr>
        <tr>
            <td></td><td><input type="submit" /></td>
        </tr>
    </table>
    @Html.ActionLink("<- Volver", "Index", "ABMCliente", new { area = "" }, new { @class = "navbar-brand" })
    <label>@ViewBag.resultado</label>
</form>
