
@{
    ViewBag.Title = "Baja";
}

<h2>Baja</h2>

<select>
    @foreach (var item in ObligatorioDominio.Sistema.Instancia.Clientes)
    {
        <option value="@item.Documento">@item.ToString()</option>
    }
</select>
