
@{
    ViewBag.Title = "Baja";
}

<h2>Baja</h2>

<form action="~/ABMCliente/Baja" method="post">
    <select name="borrador">
        @foreach (var item in ObligatorioDominio.Sistema.Instancia.Clientes)
        {
            <option value="@item.Documento">@item.ToString()</option>
        }
    </select>
    <br />
    <input type="submit" value="Borrar" />
</form>
@Html.ActionLink("<- Volver", "Index", "ABMCliente", new { area = "" }, new { @class = "navbar-brand" })
<p>@ViewBag.resultado</p>
