
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @Html.ActionLink("Alta", "Alta", "ABMCliente", new { area = "" }, new { @class = "navbar-brand" })

    @Html.ActionLink("Baja", "Baja", "ABMCliente", new { area = "" }, new { @class = "navbar-brand" })

    @Html.ActionLink("Modificacion", "Mod", "ABMCliente", new { area = "" }, new { @class = "navbar-brand" })
</div>
