
@{
    ViewBag.Title = "Menu ABM Cliente";
}

<h2>Menu</h2>
<div>
    @Html.ActionLink("Alta", "Alta", "ABMCliente", new { area = "" }, new { @class = "navbar-brand" })

    @Html.ActionLink("Baja", "Baja", "ABMCliente", new { area = "" }, new { @class = "navbar-brand" })

    @Html.ActionLink("Modificacion", "Mod", "ABMCliente", new { area = "" }, new { @class = "navbar-brand" })
    <br /><hr />
</div>
