
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="Alta"><input type="submit" value="Alta" /></form>

<form action="Baja"><input type="submit" value="Baja" /></form>

<form action="Mod"><input type="submit" value="Modificar" /></form>
